
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 <div style="justify-content:center; align-items: center; display: flex;">
  <div style="width: 500px;">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Progress</th>
          <th scope="col">Created On</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor = "let product of paginatedData">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td><button type="button" class="btn btn-primary">{{product.percentage}}</button></td>
          <td>{{ product.createdOn }}</td>
        </tr>
        
      </tbody>
    </table>
    <div style="justify-content: center; align-items: center; display: flex;">
      <app-pagination
      [totalI]="items"
      [itemsPP]="itemsPerPage"
      [currentPage]="currentPage"
      (onClick)="changePage($event)"
      ></app-pagination>
  </div>
 </div>


<router-outlet>
  
</router-outlet>
